01_Tabular_Data_Classification/.ipynb_checkpoints
02_Tabular_Data_Regression/.ipynb_checkpoints
01_Tabular_Data_Classification/dataset/hotel_bookings.csv
02_Tabular_Data_Regression/dataset/uber_data.csv
01_Tabular_Data_Classification/model
02_Tabular_Data_Regression/model